#myBtn {
  display: none;
  position: fixed;
  height: 64px;
  width: 64px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--main-text-color);
  cursor: pointer;
  border-radius: 50%;	
}

#myBtn i {
  font-size: 20px;
  text-align: center;
  color: var(--main-background-color);
}

#myBtn2 {
  display: none;
  position: fixed;
  height: 64px;
  width: 64px;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--main-text-color);
  cursor: pointer;
  border-radius: 50%;
}

#myBtn2 i {
  font-size: 20px;
  text-align: center;
  padding: 20px
  color: var(--main-background-color);
}
