<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>
          
        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
              <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>&nbsp;{{ page.title }}</a>
            </div>
          </div>
          
          {% include navigation.html %}

      </div>
    </div>
  </div>

</header>
