<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-3-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--3-3-s'>
                {% include navigation.html %}
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
