<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>
          
        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-5-s'>
              <br><br><br><br>

              <h1>Hiya! &#128075; I'm <span style="color: #ffa726">Wilson</span>.

              <br><br>
               
                I'm a third year in <span style="color: #ffa726">Interaction Design @ Sheridan College</span>. 
                Currently looking for an internship/co-op for the summer!<br><br>
               
                <span style="font-size: 14px; font-weight: normal;">
                  
                I'm presuming you are here because...<br>
                
                1) You want to take a look at my work!<br>
                Please do! My best works is at the bottom and <a href='{% link _pages/visual.md %}'>you can go here for more cool stuff that I've done.</a><br>

                2) You want to know a bit about me!
                <a href='{% link _pages/about.md %}'>Learn more about me here!</a><br>

                3) You saw me <a href='https://toronto.ubisoft.com/2020/05/2020-winners-of-the-ubisoft-toronto-next-challenge/'>over here</a>, 
                decided to Google me and clicked on my portfolio! 
                Welcome! Please look around!
                  
                </span>

              <br><br>
            </div>
        </div>

      </div>
    </div>
  </div>
  
</header>
