<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>
          
        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-5-s'>
              <br><br><br>

              <h1>Hiya! I'm <span style="color: #ffa726">Wilson</span>.

              <br><br>

              I'm an <span style="color: #ffa726">ui / ux / interaction designer</span>, who
              loves making ui for games and awesome things for people.</h1>

              <a class='c-nav__link' href='{% link _pages/about.md %}'>&#x2BC8; More about me</a><br>
            
              <a class='c-nav__link' href='{% link _pages/visual.md %}'>&#x2BC8; Other cool stuff</a>
            
              <br><br>
            </div>
        </div>

      </div>
    </div>
  </div>

</header>
