<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>
          
        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-5-s'>
              <br><br><br><br>

              <h1>Hiya! &#128075; I'm <span style="color: #ffa726">Wilson</span>.

              <br><br>
    
              I'm a third year in Interaction Design <span style="color: #ffa726">(fancy words for ui/ux/visual design)</span> @ Sheridan College. Currently looking for an internship/co-op for the summer!<br>
                
              <p>I'm presuming you are here because...</p><br>
                
              <p>1) You want to take a look at my work!</p><br>
              <p>Please do! My best works is at the bottom and <a class='c-nav__link' href='{% link _pages/visual.md %}'>you can go here for more cool stuff that I've done.</a></p><br>

              <p>2) You want to know a bit about me!</p><br>

              <p><a class='c-nav__link' href='{% link _pages/about.md %}'>Learn more about me here!</a></p><br>

              <p>3) You saw me <a class='c-nav__link' href='https://toronto.ubisoft.com/2020/05/2020-winners-of-the-ubisoft-toronto-next-challenge/'>over here</a>, decided to Google me and clicked on my portfolio!</p><br>

              <p>Welcome! Please look around!</p>

              <br><br>
            </div>
        </div>

      </div>
    </div>
  </div>
  
</header>
