// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #ffa726;
$color-white: #fafafa;
$color-text:  #212121;
$color-gray:  #bdbdbd;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #eeeeee;

// Border
$color-border: #FFFFFF;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;
