/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  //background-color: $color-white;
  //color: $color-text;
	background-color: var(--main-background-color);
	color: var(--main-text-color);
  font-size: $font-size-base;
  font-family: $font-base;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: $color-white;
  background: $color-brand;
}

html { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
}

@media (prefers-color-scheme: dark) {
	html {
		--main-tag-color: #424242;
		--light-text-color: #fafafa;
  		--link-color: #fafafa;
  		--main-background-color: #212121;
  		--main-text-color: #fafafa;
	}
}
