/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  //background-color: $color-white;
  //color: $color-text;
	background-color: var(--main-background-color);
	color: var(--main-text-color);
  font-size: $font-size-base;
  font-family: $font-base;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: $color-white;
  background: $color-brand;
}

html { 
		--main-tag-color: #e0e0e0;
		--light-text-color: #212121;
  		--link-color: #212121;
  		--main-background-color: #fafafa;
  		--main-text-color: #212121;
}

@media (prefers-color-scheme: dark) {
	html {
		--main-tag-color: #424242;
		--light-text-color: #fafafa;
  		--link-color: #fafafa;
  		--main-background-color: #212121;
  		--main-text-color: #fafafa;
	}
}

i.fas {
	font-size: $font-size-base;
}
	
