/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: 0;
  text-align: center;
  font-size: $font-size-tiny;
  color: #bdbdbd;
}
