/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: double($base-spacing-unit) 0;
  vertical-align: middle;
  font-size: $font-size-tiny;
  color-gray:  #2B5F72;
}
