/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: 0 0 double($base-spacing-unit) 0;
  text-align: center;
  font-size: $font-size-tiny;
  color: $color-gray;
}
