/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    transition: $global-transition;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}
