/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  &__item {
    font-size: $font-size-medium;
  }

  &__link {
    display: block;
    transition: $global-transition;
    text-align: right;
    width: 100%;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}
