/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    padding: quarter($base-spacing-unit) $base-spacing-unit;
    margin: 0;

    font-size: $font-size-tiny;
    font-family: $font-base;
    line-height: $line-height-medium;

    background-color: $bg-color-gray;   
  }
}
