<!DOCTYPE html>
<html lang='en'>
       
{% include head.html %}
        
<body>
    
  <main class="animate__animated animate__fadeIn">
 
  <div class='js-off-canvas-container c-off-canvas-container'>
         
      <a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" 
   
   style="
          
   font-size: 1.5em; 
   cursor: pointer; 
   text-decoration: none; 
   padding: 15px;
   position: absolute;
   right: 0px;
   
  "></a>
     
    {{ content }}
    
    {% include footer.html %}
      
  </div>
   
  </main>
       
       <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>

<button onclick="topFunction2()" id="myBtn2" title="Home"><i class="fas fa-home"></i></button>
        
  <script src="/js/mode-switcher.js"></script>

  <script src="https://kit.fontawesome.com/4cd5bb118f.js" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <link rel="stylesheet" href="/css/lightbox.css">
  
//Get the button
var mybutton = document.getElementById("myBtn");

var mybutton2 = document.getElementById("myBtn2");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
    mybutton2.style.display = "block";
  } else {
    mybutton.style.display = "none";
    mybutton2.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

function topFunction2() {
   window.location = "https://www.w3schools.com";
}
  
  
  <script src="{{ '/js/jquery-3.5.0.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>

</body>

</html>
